<div id="<%= dom_id office %>" class="scaffold_record">
  <p>
    <strong>Building name:</strong>
    <%= office.building_name %>
  </p>

  <p>
    <strong>Room number:</strong>
    <%= office.room_number %>
  </p>

  <p>
    <%= link_to "Show this office", office %>
  </p>
</div>
