<div id="<%= dom_id teacher %>" class="scaffold_record">
  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Nine hundered:</strong>
    <%= teacher.nine_hundered %>
  </p>

  <p>
    <%= link_to "Show this teacher", teacher %>
  </p>
</div>
